@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 8px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    color: #0f3397;
}
header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
    margin-bottom: 24px;
}

p {
    margin: 12px;
    
}

#date {
    margin-top: 0px;
}

#login-container {
    height: 740px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

#login-container > form {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 600px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #EEEEEE;
}

#login-container > form input {
    margin: 8px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #CACACA;
    outline: none;
    font-size: 16px;
    font-weight: 400;    
}

#login-container > form input:focus {
    border-bottom-width: 2px;
}

#login-show {
   border-radius: 8px;
   width: 100px;
   height: 40px;
   outline: none;
   border: 1px solid transparent;
   font-size: 12px;
   font-weight: 400;   
   background: #CACACA;
}

#login-show:hover {
    cursor: pointer;
    border-bottom-width: 2px;
}

#login-password-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    width: 100%;
    margin: 0px
    
   
}

#login-password{
    margin-bottom: 0px;
}

#login-button-register {
    margin-top: 24px;
    padding: 12px;
    border-radius: 8px;
    background-color: #A0C3D2;
    font-size: 20px;
}

#login-button-register:hover {
    background-color: #97bdce;
    cursor: pointer;
}

#password_created{
    color: green;
    margin: 0px 0px 0px 12px;
    font-size: 12px;
    padding: 0px;
  }

.form-link{
    text-align: center;
    margin-top: 10px;
}


.form-link a{
    font-size: 14px;
    font-weight: 400;
}

label{
    color: rgba(0, 0, 0, 0.5)
}

.error {
    color: red;
    margin: 0px 0px 0px 12px;
    font-size: 12px;
    padding: 0px;
  }
 